


<div class="container bookingIMG">
    <div class="row">
        <div class="col bookingText float-start text-center">
            
           
               <h3>Full Service <br> Barber Shop</h3>
               <br>
                Looking for a barbershop that will give you the perfect haircut? Look no further than! Our experienced barbers are skilled in all types of haircuts, from classic styles to modern trends. We also offer a variety of other services, such as beard trimming, shaves, and styling.
            <br>
            <button type="button" class="btn btn-light bookingAppintment"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">BOOK AN APPOINTMENT</button>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="text-center TextAbout_h4">Best Haircut and Shave in New York</h4>
            <p class="TextAbout"> Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. 

                Oh feel if up to till like. He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye.</p>
       
        </div>
        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">BOOK AN APPOINTMENT</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
