<div class="container">
    <div class="row logo">
        <div class="col">
           <a [routerLink]="['/']"><img src="../../assets/img/logo.png" alt="logo"></a> 
        </div>
        <div class="col">
            <ul class="nav nav-underline justify-content-end">
                <li class="nav-item"  routerLinkActive="active">
                  <a [routerLink]="['/about']" class="nav-link">About</a>
                </li>
              </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
