
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Contacts</h1>
        </div>
    </div>
    <div class="row">
        <div class="col list_about">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Organization Name: Best Barbershop</li>
                <li class="list-group-item">Address: 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</li>
                <li class="list-group-item">Phone Number: +1 650 253 0000</li>
                <li class="list-group-item">Email Address: nobody@fakemail.com</li>
              </ul>
        </div>
    </div>
</div>
